/* основной цвет  текста rgba(33, 33, 33, 1) */
/* вторичный цвет текста rgba(117, 117, 117, 1) */
/* акцент rgba(33, 150, 243, 1) */

/* белый #FFFFFF */
/* вторичный цвет фона #E5E5E5;*/

:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --white-color: #ffffff;
  --bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --bg-color-for-hero:#2F303A;
  --third-bg-color:#188CE8;
  --bg-color-for-team:#F5F4FA;
  --bg-color-for-footer:#2F303A;
  --text-color-for-footer: rgba(255, 255, 255, 1);
  --second-color-for-footer:rgba(255, 255, 255, 0.6);


}
body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
  font-style: 400;
  font-weight: 400;
}
/* CONTAINER */
.container {
  width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  
}

.main-nav
{
  display: flex;
  align-items: center;
}

.logo-top
{
  display: flex  ;
  align-items: center;
}


.nav-lis {
  display: flex;
  margin-left: 93px;
  padding-left: 0;
}

.nav-lis-contact
{
  display: flex;
  margin-left: 0px;
  padding-left: 0;
}

.nav-lis .nav-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  
  
 }

.nav-lis .item:not(:last-child)
{
/* outline: 1px solid red; */
margin-right: 50px;
}

.nav-contacts-pos
{
 /*margin-left: auto;*/
 margin-left: 385px;
}

.nav-tel {
  /*margin-left: auto;*/
  margin-left: 40px;
  /* margin-left: 560px; */
}

.button-hero
{
  display: flex;
  margin: auto;
 /* 
  justify-content: center;
  align-items: center;
  
    text-align: center;
    justify-content: center;
  text-align: center;
  display: flex;
  margin: auto;
  */
  
  
}

.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  list-style: none;
}

.button.primary {
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  list-style: none;
}

.button-primary-filter:hover,
.button-primary-filter:focus {
  background-color: var(--third-bg-color);
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  list-style: none;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.style {
  font-style: normal;
}

/* Logo */
.logo {

  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-webstudio {

  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2px;
}
.logo :hover {
  color: var(--accent-color);
}
 
  /* Site nav */

.header {
  background-color: var(--primary-white-color);
}

.nav-item {

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  
}
.nav-item.active {
 
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.nav-item:hover,
.nav-item:focus {
  color: var(--accent-color);
}

.nav-contacts {
  
  color: var(--text-color);
}
/* Hero */
.hero-title {
  color: var(--white-color);
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-color {
  background-color: var(--bg-color-for-hero);

}

/* Section */


.section-subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

.card-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}


/* Features */

.feature-list {
  display: flex;
  padding-left: 0;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.7;
}


.features-flex
{
  /* width: 270px; */
   width: calc((1170-60)/4);
  flex-wrap: wrap;
  /* background: tomato; */
  /* margin-right: 30px; */
  /* justify-content: right; */
  
}

.features-flex:nth-child(4n)
 {
  margin: 0;
 }

/* Opotunities */

.work-list
{
  display: flex;
  flex-wrap: wrap;
  /* background: tomato  ; */
  padding-left: 0;
}

.work-exp
{
  margin-right: 30px;
}

.work-exp:nth-child(3n)
{
  margin: 0;
}
 
/* Team */
.team-list {
  
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  background-color: var(--bg-color-for-team);
}

.team-list-pr {
 
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  background-color: var(--bg-color);
}

.team-flex
{
  display: flex;
  padding-left: 0;
  
}

.team-li
{

margin-right: 30px;
} 

  .team-li:nth-child(4n)
{
  margin: 0;
}


/* Examples */





.example-list {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.9;
}

/* Footer */

.address{
padding-left: 0;
/* text-align: left;  */
 /* background: tomato; */
/* margin-right: 30px; */
/* justify-content: right; */
}

.footer-list{
color:var(--text-color-for-footer);
background-color:var(--bg-color-for-footer);

} 
.contact-list{
  color:var(--second-color-for-footer);
 
 } 

.logo-footer {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  
}
.logo-webstudio-footer {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2px;
 }

 

/* buttons */

  
.portfolio-button {
  list-style: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--bg-color);
}

.portfolio-button.primary {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio-button.secondary {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
}

.portfolio-button-filter:hover,
.portfolio-button-filter:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Portfolio examples */

.section .title {
  text-align: center;
  /* text-align: left;  */
 /* background: tomato; */
/* margin-right: 30px; */
/* justify-content: right; */
/* align-items: center; */
}

.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 

/* Portfolio navi */

.nav-portf{

  display: flex;
  padding-left: 0;
  justify-content: center;
  
}

.nav-portf .items{
    margin-right: 8px;
}

.nav-portf .items:nth-child(5n){
  margin: 0px;
}

/* Portfolio Exeples */

.project {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.project .items {
  
  margin-right: 30px;
}

.project .items:nth-child(3n) {

  margin-right: 0px;
}